<h1>My Favorite TV Series</h1>
<h2 class="titulo-welcome">Welcome!!</h2>
<!--<a href="/tv_shows">go to series list</a>-->
<%= link_to 'Ir a la Lista de Series', tv_shows_path %><br>
<%= image_tag('iron-man.jpg', size:"520x650", alt:"Iron Man")%>
